
  <div class="container">
   
        <div class="d-flex justify-content-center h-100">
        
          <div class="cardInput">
            <div class="card-header">
              <h3>Add New Expense</h3>
            
            </div>
            <div>   {{#if message}}
    <p class="alert alert-warning">{{message}}</p>
  {{/if}}</div>
            <div class="card-body">
             <form  method="POST" enctype="multipart/form-data">
 
                
                <div class="input-group form-group">
                  <div class="input-group-label">Expense Type : </div>
                    <span ></span> 
                    <select name="expType" id="expType" class="form-control" required="true" >
                        <option value="Select">Select one</option>
                          {{#each expenseType}}
                            <option value={{this}}>{{this}}</option>
                              {{/each}}
                  </select>
                </div>
               <div class="input-group form-group">
                  <div class="input-group-label ">Expense Date : </div>
                    <span ></span> 
                  <input type="date" class= "form-control" name="expDate" id="datePicker" autocomplete="off" max={{today}}  >
                  
                </div>
                
               <div class="input-group form-group">
                  <div class="input-group-label">Expense Receipt : </div>
                    <span ></span> 
                 <input type="file"   placeholder= "Choose file"  id='expReceipt' name="expReceipt"  >
             
                   </div>
                
                <div class="input-group form-group">
                  <div class="input-group-label">Expense Amount : </div>
                    <span ></span>
                  <input type="text"   class="form-control" placeholder= "Enter Amount" required name="expAmount">
                </div>
                <div class="float-right form-group">
                  <input type="submit" value="Create" class="btn  login_btn" name="submit"  formaction="addNewExpense">
                  <span >   </span>
                   <input class="btn  login_btn" type="reset" value="Reset" >
                </div>
              </form>
            </div>
 
          </div>
        </div>
      </div>
  


