<body>
  <div class="container">
    <section>
      <h4>
        {{#if message}}
        {{message}}

        {{/if}}

        {{#if !message}}
        Unexpected Error, Please try again in a while.

        {{/if}}
      </h4>
    </section>
  </div>
</body>
<style>
  body {
    min-height: 100vh;
    align-items: center;
    background-color: hsl(47, 61%, 15%);
    background-image: linear-gradient(147deg, #dba16e 0%, #ad59a9 100%);
  }
</style>