
@import url("footer.css");
@import url("header.css");
@import url("sidenav.css");
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Numans);
@import url("bootstrapTable.css");
@import url("login.css");
body {
    min-height: 100vh;
  
    background-color: hsl(47, 61%, 15%);
    background-image: linear-gradient(147deg, #dba16e  0%, #ad59a9 100%);
  }
  
  